<mat-card class="center-card forgot-password-content">

  <mat-card-header class="forgot-password-content-header">
    <mat-card-title>
      <p class="header-title"> Forgot your password? </p>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p class="forgot-password-text">Dont worry. Just tell us the e-mail address you registered with CEB CIAM</p>

    <form [formGroup]="forgotPasswordFormGroup">

      <mat-form-field class="d-block" appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" formControlName="email">
      </mat-form-field>

    </form>

    <div class="forgot-password-actions">
      <button
        mat-raised-button class="btn-block forgot-password-btn"
        (click)="submit()"
        [disabled]="!forgotPasswordFormGroup.valid">
        <span>Send</span>
      </button>
      <button mat-raised-button class="btn-block cancel-btn" [routerLink]="'/login'">
        <span>Cancel</span>
      </button>
    </div>

  </mat-card-content>

</mat-card>
