<mat-card class="center-card reset-password-content">

  <mat-card-header class="reset-password-content-header">
    <mat-card-title>
      <p class="header-title"> Set New Password </p>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <form [formGroup]="resetPasswordFormGroup">

      <mat-form-field class="d-block" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>

      <mat-form-field class="d-block" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword">
      </mat-form-field>

    </form>

    <div class="reset-password-actions">
      <button mat-raised-button class="btn-block reset-password-btn" (click)="submit()" [disabled]="!resetPasswordFormGroup.valid">
        <span class="">Submit</span>
      </button>
      <button mat-raised-button class="btn-block cancel-btn" [routerLink]="'/login'">
        <span class="">Cancel</span>
      </button>
    </div>

  </mat-card-content>

</mat-card>
