<mat-card class="center-card mfa-template-content">

  <mat-card-header class="mfa-template-content-header">
    <mat-card-title>
      <p class="header-title"> MFA </p>
      <img src="assets/icons/svg/mfa.svg">
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <div class="mfa-template-text-wrapper">
      <p class="mfa-template-text">To protect your account security, <br> we need to verify your identity </p>
      <p class="mfa-template-text">Please choose a way to verify:</p>
    </div>

    <div class="mfa-template-actions">

      <button mat-raised-button class="btn-block verify-email-btn" [routerLink]="['/mfa/verification', fromAction, 'email']">
        <mat-icon mat-icon svgIcon="verifyEmailIcon" style="margin-left: -5px; margin-right: 10px;"></mat-icon>
        <span>Verify through E-mail</span>
      </button>

      <button mat-raised-button class="btn-block verify-sms-btn" [routerLink]="['/mfa/verification', fromAction, 'mobile']">
        <mat-icon mat-icon svgIcon="verifySmsIcon" style="margin-left: 20px; margin-right: 10px;"></mat-icon>
        <span>Verify through SMS Code</span>
      </button>

      <button mat-raised-button class="btn-block cancel-btn" [routerLink]="'/user/profile'">
        <span>Cancel</span>
      </button>

    </div>

  </mat-card-content>

</mat-card>
