$dark-gray: #6E6E6E;
$lighter-gray: #CCCCCC;
$light-gray: #919191;
$light-blue: #18A7DF;
$blue: #0060A7;
$dark-blue: #005687;
$white: #FFFFFF;
$black: #393939;

%font-normal {
  font-style: normal;
  font-weight: normal;
}

.center-card {
  width: 400px;
  height: 450px;

  left:0;
  right:0;
  top:0;
  bottom:0;

  /* overflow: auto; */
  overflow: hidden;
  position: fixed;
  margin: auto;
	max-width: 400px;
	max-height: 450px;
}

.edit-profile-content {


  .edit-profile-content-header {
    margin-bottom: 1em;

    .header-title {
      color: $dark-blue;
      font-size: 24px;
      line-height: 49px;
      text-align: center;
    }

  }


  .edit-profile-actions {

    .edit-profile-btn, .cancel-btn {
      font-weight: normal;
      line-height: 22px;
      height: 48px;
      border-radius: 40px;
      margin-bottom: 10px;
      background-color: $blue;
    }

    .edit-profile-btn {
      color: $white;
    }

    .cancel-btn {
      margin-top: 10px;
      background-color: $white;
      border: 1px solid #919191;
    }
  }

}


:host ::ng-deep .mat-card-header-text {
  margin: 0 auto !important;
}

.d-block {
  display: block !important;
}

.btn-block {
  width: 100%;
}
